* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
a,
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* #191E3B */
/* #F7F7F8 */

input {
  min-width: 0;
  font-size: 18px;
}

input::placeholder {
  color: #191e3b;
}

.wrapper {
  padding-inline: 30px;
  max-width: 1400px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: inherit;
}

section {
  padding-block: 40px;
}

header {
  background-color: white;
  padding-block: 16px;
  color: #191e3b;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-weight: 500;
}

.download {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 10px;
  border: 1px solid #dfe0e4;
  border-radius: 50px;
}

.download img {
  width: 20px;
  height: auto;
}

#section-01 {
  min-height: 400px;
  height: 88vh;
  max-height: 600px;
  background-image: linear-gradient(
      rgba(19, 18, 18, 0.295),
      rgba(39, 39, 39, 0.269)
    ),
    url("/assets/bg-image.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
  color: white;
}

#section-01 .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.outer-container {
  background-color: #f7f7f8;
  border-radius: 16px;
  padding: 16px 16px;
  display: flex;
  gap: 14px;
}

.input-container {
  border: 1px solid #818494;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 10px 12px;
}

.input-container img {
  width: 32px;
  height: auto;
}

input[type="text"],
input[type="date"] {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.outer-container button {
  min-width: fit-content;
  background-color: #191e3b;
  color: white;
  border: none;
  border-radius: 2500rem;
  padding: 4px 16px;
  font-weight: 600;
}

#section-02 {
}

#section-02 .wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191e3b;
  padding: 16px;
  border-radius: 14px;
  color: white;
}

.register-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.register-icon {
  background-color: #aed1f3;
  padding: 10px 10px;
  border-radius: 50%;
}

.register-icon img {
  width: 20px;
  height: auto;
  display: block;
  margin-block: auto;
}

.accommodations-container h3 {
  margin-bottom: 14px;
}

.accommodations {
  display: flex;
  gap: 14px;
  overflow-x: scroll;
  scrollbar-width: none;
}

h3 {
  font-size: 28px;
  font-weight: 500;
  /* margin-bottom: 14px; */
}

.accommodation {
  position: relative;
  min-width: 20%;
  min-height: 270px;
  border-radius: 12px;
  background-image: linear-gradient(
      rgba(19, 18, 18, 0),
      rgba(39, 39, 39, 0.676)
    ),
    url("/assets/garden.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.accommodation p {
  position: absolute;
  bottom: 2%;
  left: 3%;
  color: white;
  font-weight: 500;
}

.trip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trip img {
  min-width: 20%;
  max-width: 300px;
  min-height: 270px;
  border-radius: 12px;
}

.trip h4 {
  font-size: 18px;
}

.acc {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price {
  margin-bottom: 16px;
}

.green {
  background-color: green;
  padding: 5px 8px;
  font-size: 14px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
